<div class="header">

    <mat-menu #home="matMenu">
        <button routerLink="main" mat-menu-item>Home Item 1</button>
        <button routerLink="main" mat-menu-item>Home Item 2</button>
    </mat-menu>
    <mat-menu #events="matMenu">
        <button routerLink="events" mat-menu-item>Evnet Item 2</button>
        <button routerLink="events" mat-menu-item>Evnet Item 1</button>
    </mat-menu>
    <mat-menu #community="matMenu">
        <button routerLink="community" mat-menu-item>Community Item 1</button>
        <button routerLink="community" mat-menu-item>Community Item 2</button>
    </mat-menu>
    <mat-menu #contact="matMenu">
        <button routerLink="contact" mat-menu-item>Contact Item 1</button>
        <button routerLink="contact" mat-menu-item>Contact Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="home">Home</button>
    <button mat-button [matMenuTriggerFor]="events">Events</button>
    <button mat-button [matMenuTriggerFor]="community">Community</button>
    <button mat-button [matMenuTriggerFor]="contact">Contact</button>

    <a routerLink="/main">Heroes</a>
    &nbsp;
    <a routerLink="/events">Events</a>
    &nbsp;
    <a routerLink="/community">Community</a>
    &nbsp;
    <a routerLink="/contact">Contact</a>    

</div>