<div class="container">
    <p>mozley-main-panel {{curURL}} works!</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis laoreet interdum. Nullam placerat leo vitae mauris scelerisque suscipit. 
        Sed ut faucibus nisi. Cras tincidunt libero id iaculis aliquet. Aliquam ullamcorper eros eu justo fermentum, sed auctor massa pretium. 
        Nulla imperdiet sem quis arcu aliquam ullamcorper. Suspendisse egestas mollis enim. Nam ullamcorper nulla id sapien consequat ornare. 
        Aliquam pharetra sem at bibendum eleifend. Praesent aliquet libero laoreet elit euismod, a pharetra arcu volutpat. 
        Aenean eleifend, elit a semper dignissim, justo lorem semper lorem, nec scelerisque velit justo finibus erat.
    </p>
</div>